.login-container {
  height: 100vh;
   background: #f2f2f7; /* Light modern grey background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 380px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  animation: fadeIn 0.7s ease;
}

.input-box {
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
}

.input-box:focus {
  background: #fff;
  box-shadow: 0px 0px 8px rgba(13, 110, 253, 0.4);
}

.signup-link {
  text-decoration: none;
  font-weight: 600;
  color: #0d6efd;
}

.signup-link:hover {
  text-decoration: underline;
  color: #084298;
}

.login-btn {
  transition: 0.3s;
}

.login-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
