.navbar .menu-item {
  font-weight: 500;
  transition: 0.3s;
  border-radius: 6px;
  padding: 6px 10px;
}

.navbar .menu-item:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
}

.logout-btn:hover {
  transform: scale(1.08);
  transition: 0.3s;
}

/* Active route style */
.navbar .active {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
  font-weight: bold;
}
